.box{
    width: 400px;
    height: 400px;
    color: rgb(255, 255, 255);
    background-color:rgb(88, 90, 88);
    text-align: center;
    font-size: 1.5em;
    border: 5px dashed rgb(0,255,0);
    padding-top: 10px;
    margin: 50px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
}

.box:hover{
    background-color:rgb(118, 11, 82);
    box-shadow: 25px 35px 20px black;
    color: greenyellow;
}

   p.normal{
    font-style: normal;
    font-weight: bold;
   }       
   p.italic{
    font-style: italic;
    font-weight: bold;
   }
   div > div > p{
    font-size: large;
    font-weight: bold;
   }
   div > p{
    font-size: smaller;
    font-weight: bold;
   }
   .box2{
    position: relative;
    left: 30px;
    border: 3px solid#73AD21;
   }
   .box3{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 300px;
    border: 3px solid#73AD21;
   }
   .box4{
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    border: 3px solid#73AD21;
   }
   